<!-- BEGIN - Reactive Forms -->
<div class="container">
  <div class="box-container pt-5 pb-5 mt-5 mb-5">
    <app-nav-bar></app-nav-bar>
    <form class="form-control pt-5 pb-5 mt-5 mb-5" [formGroup]="registerForm$" (ngSubmit)="[registerUser()]" >
      
<!-- First Name -->
      <div class="mb-3">
        <label>First Name</label>
        <input formControlName="firstName" class="form-control" type="text" />
        <mat-error *ngIf="isFieldInvalid('firstName')" class="error"> <!-- or span-->
          First Name is required
        </mat-error>
        </div>

<!-- Last Name -->
      <div class="mb-3" >
        <label>Last Name</label>
        <input formControlName="lastName" class="form-control" type="text" />
        <mat-error *ngIf="isFieldInvalid('lastName')" >
          Last Name is required
        </mat-error>      
      </div>

<!-- Select Gender  -->
      <div class="mb-3" >
        <label for="gender">Gender</label>
        <select class="form-select" formControlName="gender">
          <option value="">Select Gender</option>
          <option value="MALE">Male</option> 
          <option value="FEMALE">Female</option>
        </select>
        <mat-error *ngIf="isFieldInvalid('gender')">
          Gender is required
        </mat-error>
      </div> 

<!-- Date of  Birth -->
      <div class="form-group mb-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthdate" required> 
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-hint>Choose your birthdate MM/DD/YYYY</mat-hint>
          <mat-error *ngIf="isFieldInvalid('birthdate')">
          Birthdate is required
        </mat-error> 
         <mat-error *ngIf="birthdate?.valid">
        </mat-error>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>


<!-- BEGIN - Addresses -->
      <div formArrayName="addresses" class="form-control mb-3" >
        <div [formGroupName]="0" class=" mb-3" >  
          <label>Work Address</label>
          <input formControlName="address"   
                 placeholder="Enter Work Address" 
                 class="form-control"/>
       </div> 
       
   <!-- Home Address -->
         <div [formGroupName]="1" class=" mb-3 "> 
              <label>Home Address</label>  
              <input formControlName="address"   
                     placeholder="Enter Work Address" 
                   class="form-control"/>
        </div>
      </div>  
<!-- END - Addresses -->

      <button type="submit" class="btn btn-primary btn-lg mt-5 w-100">Add User</button> 
    </form>
  </div>
</div>
