
<!-- Angular Material -->

<!-- Birthdate -->
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Date of Birth</mat-label>
      <input matInput [matDatepicker]="picker"  [(ngModel)]="birthdate" (dateChange)="onDateChange($event)" required> <!--formControlName="birthdate" -->
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-hint>Choose your birthdate MM/DD/YYYY</mat-hint>
      <mat-error *ngIf="birthdate == null">
        Birthdate is required
      </mat-error>
      <mat-error *ngIf="birthdate == null">
      Your birthday is : {{ birthdate | date:'fullDate' }}
      </mat-error>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
 
