body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
}

.box-container {
  display: flex;
  gap: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.box img {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}

.box h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.box:hover {
  transform: scale(1.05);
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #007bff;
}