
<app-header></app-header>

<div class="container">
  <div class="box-container">
      <!-- Display Users Box -->
       <a  routerLink="/display-users" class="box"> <!-- (click)="openNewTab('/display-users')"   -->
          <img src="https://cdn-icons-png.flaticon.com/512/1077/1077012.png" alt="Display Users">
          <h2>Display Users</h2>
      </a>
      <!-- Register New User Box -->
      <a routerLink="/register-user" class="box">
          <img src="https://cdn-icons-png.flaticon.com/512/3064/3064731.png" alt="Register New User"> <!-- (click)="navigateToAddUser()" -->
          <h2>Register New User</h2>
      </a>
        
    </div>
  </div>

  <router-outlet></router-outlet>
  
  
