<div class="container">
  <div class="box-container pt-5 pb-5 mt-5 mb-5">
  <hr>
  <app-nav-bar></app-nav-bar>
<table class="table table-hover" id="memberTable">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Birthdate</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="userTableBody">
      <tr>    <!-- <tr *ngIf="userDetails$ | async as selectedUser"> -->
        <td>{{userDetails.id}}</td>
        <td>{{userDetails.firstName}}</td> 
        <td>{{userDetails.lastName}}</td> 
        <td>{{userDetails.gender}}</td> 
        <td>{{userDetails.birthdate}}</td>
        <!-- <td>{{user.workAddress}}</td> -->
        <!--<td>{{user.homeAddress}}</td>  [routerLink]="['/user-details', user.id]" -->
        <!-- <a class="btn-primary"  target="_blank">View Details</a> -->
        <td>
          <button class="btn btn-danger" (click)="deleteUser($event, userDetails.id)">Delete</button> <!-- Κουμπί Delete -->
        </td>
      </tr>  

        </tbody>
</table>
</div>
</div>
