<div class="container-md">
  <div class="box-container">
    <app-nav-bar></app-nav-bar>
    <table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
        </tr>
    </thead>
    <tbody>
     
      <tr *ngFor="let tempUsers of users">
        <td>{{tempUsers.firstName}}</td>
        <td>{{tempUsers.lastName}}</td>
      </tr>
      
        </tbody>
    </table>
  </div>
</div>

<div *ngIf="users.length === 0">
  No users found.
</div>

<router-outlet></router-outlet>
  